:root {
  --welcome-height: 90vh;
  --intro-height: 400px;
  --about-height: 600px;
  --goals-height: 750px;
  --platform-height: 300px;
}

* {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji" !important;
}

#welcome {
  height: var(--welcome-height);
  /* background-image: url(http://via.placeholder.com/1680x800); */
  background-repeat: round;
}

#intro {
  min-height: var(--intro-height);
  /* background-color: #f6f7fb; */
  /* background-image: url(http://via.placeholder.com/1680x900); */
}

#about {
  height: var(--about-height);
  background-color: #f6f7fb;
}

#goals {
  height: var(--goals-height);
}

#platform {
  height: var(--platform-height);
  background-color: #f6f7fb;
  display: flex;
  flex-direction: column;
  text-align: center;
  padding-top: 50px;
}

.middle {
  padding: 20vh 0;
  height: 100%;
}

#welcome .text {
  max-width: 560px;
  float: left;
  color: #fff;
}

#intro .spacing-default {
  padding-top: calc(var(--intro-height) / 10);
  padding-bottom: calc(var(--intro-height) / 10);
}

#intro .container {
  height: 100%;
}

#about .spacing-default {
  padding-top: calc(var(--about-height) / 10);
  padding-bottom: calc(var(--about-height) / 10);
}

#about .container {
  height: 100%;
  display: flex;
  flex-direction: row;
}

#about .half {
  width: 50%;
  display: flex;
  justify-content: center;
  height: 100%;
}

#about .left {
  flex-direction: column;
  align-items: flex-start;
  margin-bottom: 60px;
}

#about .right {
  align-items: center;
}

#about .left .btn {
  margin-left: 20px;
}

#goals .container {
  height: 100%;
}

#goals .cards {
  height: 90%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

#goals .card {
  width: 30%;
  height: 65%;
}

#goals .readmore {
  height: 10%;
}

#goals .readmore .btn {
  margin-right: 20px;
  float: right;
}

#goals #card-1 {
  /* background-color: #a7d6af; */
  background-color: #6bc9bb;
  color: #fafafa;
  /* color: #333; */
}

#goals #card-2 {
  background-color: #80c780;
  color: #fafafa;
}

#goals #card-3 {
  /* background-color: #4fbc7c; */
  background-color: #14856d;
  color: #fafafa;
}

.nav-color {
  background-color: #4fbc7c;
}

.btn:hover {
  transform: scale(0.98);
}

@media (max-width: 1300px) {
  #goals .card {
    font-size: 0.95rem;
  }
}

@media (max-width: 1000px) {
  #intro .container {
    width: 80%;
  }

  #about {
    height: auto;
  }

  #about .container {
    flex-direction: column;
    align-items: center;
  }

  #about .half {
    width: 80%;
  }

  #goals {
    height: auto;
  }

  #goals .cards {
    margin-top: 20px;
    flex-direction: column;
  }

  #goals .card {
    width: 80%;
    margin: 15px 0;
  }

  #goals .readmore {
    height: 100px;
  }

  #platform {
    width: 100%;
    padding: 0 10%;
  }
}
