:root {
  --welcome-height: 800px;
  --intro-height: 400px;
  --about-height: 600px;
  --goals-height: 750px;
  --platform-height: 300px;
}

p {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji" !important;
}

#welcome {
  height: var(--welcome-height);
  /* background-color: aquamarine; */
  background-image: url(http://via.placeholder.com/1680x800);
}

#intro {
  height: var(--intro-height);
  /* background-color: #f6f7fb; */
  /* background-image: url(http://via.placeholder.com/1680x900); */
}

#about {
  height: var(--about-height);
  background-color: #f6f7fb;
}

#goals {
  height: var(--goals-height);
}

#platform {
  height: var(--platform-height);
  background-color: #f6f7fb;
  display: flex;
  flex-direction: column;
  text-align: center;
  padding-top: 50px;
}

.middle {
  padding: 20vh 0;
  height: 100%;
}

#welcome .text {
  max-width: 560px;
  float: left;
}

#intro .spacing-default {
  padding-top: calc(var(--intro-height) / 10);
  padding-bottom: calc(var(--intro-height) / 10);
}

#intro .container {
  height: 100%;
}

#about .spacing-default {
  padding-top: calc(var(--about-height) / 10);
  padding-bottom: calc(var(--about-height) / 10);
}

#about .container {
  height: 100%;
  display: flex;
  flex-direction: row;
}

#about .half {
  width: 50%;
  display: flex;
  justify-content: center;
  height: 100%;
}

#about .left {
  flex-direction: column;
  align-items: flex-start;
}

#about .right {
  align-items: center;
}

#about .left .btn {
  margin-left: 20px;
}

#goals .container {
  height: 100%;
}

#goals .cards {
  height: 90%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

#goals .card {
  width: 30%;
  height: 65%;
}

#goals .readmore {
  height: 10%;
}

#goals .readmore .btn {
  margin-right: 20px;
  float: right;
}
